*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-template-columns: 159fr 15fr;
    background: rgb(123, 211, 238);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container .left ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .right{
    margin: 20px;
}

.container .right .btn{
    font-size: 18px;
    width: 80px;
    line-height: 30px;
    border-radius: 8px;
    outline: none;
}
.container .right .btn:hover{
    cursor: pointer;
    background: rgb(27, 30, 226);
    color: white;
}
.container .left ul li{
    margin: 20px;
   list-style: none;
    font-size: 20px;
}

.container .left ul li a{
    color: blue;
   text-decoration: none;
}
.container .left ul li .up{
    padding-left: 10px;
}

.container .left ul .sub-menu{
    display: none;
}
.container .left ul .year-menu:hover .sub-menu{
    display: block;
    position: absolute;
    background: rgb(182, 241, 241);
    border-radius: 16px;
}

.container .left ul .year-menu:hover .sub-menu ul{
    display: block;
    margin: 10px;
}
.container .left ul .year-menu .sub-menu .sem-menu .sem{
    padding-left: 100px;
}
.sub-menu2{
    display: none;
}

.sem-menu:hover .sub-menu2{
    display: block;
    position: absolute;
    background: rgb(130, 247, 159);
    border-radius: 16px;
    margin-left: 125px;
}

.container .left a:hover{
    color: rgb(124, 143, 252);
}

.head h2{
    text-align: center;
    margin-top: 2rem;
}

.me .maths1{
    display: flex;
    margin: 60px;
}

.me .maths1 a{
    border: 2px solid black;
    width: 8%;
    color: black;
    background: skyblue;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    margin-left: 68rem;
    line-height: 30px;
}

.me .maths1 #m1{
    margin-left: 66.2rem;
}

.me .maths1 #m2{
    margin-left: 66.2rem;
}

.me .maths1 #m22{
    margin-left: 65.2rem;
}

.me .maths1 #m3{
    margin-left: 66.2rem;
}

.me .maths1 #m4{
    margin-left: 66.2rem;
}

.me .maths1 #m5{
    margin-left: 66.2rem;
}

.me .maths1 #m52{
    margin-left: 63.2rem;
}

.me .maths1 a:hover{
    background: black;
    color: white;
}

