
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/4.css">
    <script src="https://kit.fontawesome.com/0392c4d112.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
    <div class="left">
        <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">About</a></li>
        <li class="year-menu"><a href="#" class="years">Years<i class="fas fa-angle-up up"></i></a>
        <div class="sub-menu">
            <ul>
                <li class="sem-menu"><a href="#">1st Year<i class="fas fa-angle-right sem"></i></a>
                <div class="sub-menu2">
                    <ul>
                        <li><a href="/1st">1st Semester</a></li>
                        <li><a href="2nd">2nd Semester</a></li>
                    </ul>
                </div>
                </li>
                <li class="sem-menu"><a href="#">2nd Year<i class="fas fa-angle-right sem"></i></a><div class="sub-menu2">
                    <ul>
                        <li><a href="/3rd">3rd Semester</a></li>
                        <li><a href="/4th">4th Semester</a></li>
                    </ul>
                </div></li>
                <li class="sem-menu"><a href="#">3rd Year<i class="fas fa-angle-right sem"></i></a><div class="sub-menu2">
                    <ul>
                        <li><a href="/5th">5th Semester</a></li>
                        <li><a href="/6th">6th Semester</a></li>
                    </ul>
                </div></li>
                <li class="sem-menu"><a href="#">4th Year<i class="fas fa-angle-right sem"></i></a><div class="sub-menu2">
                    <ul>
                        <li><a href="/7th">7th Semester</a></li>
                        <li><a href="/8th">8th Semester</a></li>
                    </ul>
                </div></li>
            </ul>
        </div>
        </li>
        <li><a href="#contact">Contact</a></li>
        </ul>
    </div>

    <form class="right" action="/logout?_method=DELETE" method="POST">
        <button type="submit" class="btn">Logout</button>
    </form>
    </div>

    <h1 style="text-align: center;margin-top: 2rem;">Subjects of 4th Semester</h1>

    <div class="box">
        <div class="ada">
            <h3>1. Analysis and Design Algorithms</h3>
            <a href="/ada"><button>Click Me</button></a>
        </div>
        <div class="maths">
            <h3>2. Engineering Mathematics-4</h3>
            <a href="/maths"><button>Click Me</button></a>
        </div>
        <div class="unix">
            <h3>3. Unix and Shell Programming</h3>
            <a href="/unix"><button>Click Me</button></a>
        </div>
        <div class="toc">
            <h3>4. Theory of Computation</h3>
            <a href="/toc"><button>Click Me</button></a>
        </div>
        <div class="arm">
            <h3>5. Advanced RISC Machine</h3>
            <a href="/arm"><button>Click Me</button></a>
        </div>
        <div class="oops">
            <h3>6. Object Oriented Programming in C++</h3>
            <a href="/oops"><button>Click Me</button></a>
        </div>
    </div>
    <script src="/index.js"></script>
</body>
</html>
</body>
</html>