<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/ada.css">
    <!-- <link rel="stylesheet" href="/style.css"> -->
    <script src="https://kit.fontawesome.com/0392c4d112.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="left">
            <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#about">About</a></li>
            <li class="year-menu"><a href="#" class="years">Years<i class="fas fa-angle-up up"></i></a>
            <div class="sub-menu">
                <ul>
                    <li class="sem-menu"><a href="#">1st Year<i class="fas fa-angle-right sem"></i></a>
                    <div class="sub-menu2">
                        <ul>
                            <li><a href="/1st">1st Semester</a></li>
                            <li><a href="2nd">2nd Semester</a></li>
                        </ul>
                    </div>
                    </li>
                    <li class="sem-menu"><a href="#">2nd Year<i class="fas fa-angle-right sem"></i></a><div class="sub-menu2">
                        <ul>
                            <li><a href="/3rd">3rd Semester</a></li>
                            <li><a href="/4th">4th Semester</a></li>
                        </ul>
                    </div>
                </li>
                    <li class="sem-menu"><a href="#">3rd Year<i class="fas fa-angle-right sem"></i></a><div class="sub-menu2">
                        <ul>
                            <li><a href="/5th">5th Semester</a></li>
                            <li><a href="/6th">6th Semester</a></li>
                        </ul>
                    </div>
                </li>
                    <li class="sem-menu"><a href="#">4th Year<i class="fas fa-angle-right sem"></i></a><div class="sub-menu2">
                        <ul>
                            <li><a href="/7th">7th Semester</a></li>
                            <li><a href="/8th">8th Semester</a></li>
                        </ul>
                    </div>
                </li>
                </ul>
            </div>
            </li>
            <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
    
        <form class="right" action="/logout?_method=DELETE" method="POST">
            <button type="submit" class="btn">Logout</button>
        </form>
        </div>

        <div class="head">
    <h2>All ADA Units</h2>
    </div>
    <div class="ad">
        <div class="ada1">
        <h3>Ada unit 1 printed notes</h3>
        <a href="/ada1.pdf" download>DOWNLOAD</a>
        </div>

        <div class="ada1">
        <h3>Ada unit 2 printed notes</h3>
        <a href="/ada2.pdf" download>DOWNLOAD</a>
        </div>

        <div class="ada1">
        <h3>Ada Numbers notes</h3>
        <a href="/number.pdf" id="number" download>DOWNLOAD</a>
        </div>

        <div class="ada1">
        <h3>Ada Book</h3>
        <a href="/book.pdf" id="book" download>DOWNLOAD</a>
        </div>

        <div class="ada1">
        <h3>Decrease And Conquer</h3>
        <a href="/5.pdf" id="decrease" download>DOWNLOAD</a>
        </div>

        <div class="ada1">
        <h3>Transform And Conquer</h3>
        <a href="/6.pdf" id="transform" download>DOWNLOAD</a>
        </div>

        <div class="ada1">
        <h3>Space And Time Tradeoffs</h3>
        <a href="/7.pdf" id="space" download>DOWNLOAD</a>
        </div>

        <div class="ada1">
        <h3>Dynamic Programming</h3>
        <a href="/8.pdf" id="dynamic" download>DOWNLOAD</a>
        </div>

        <div class="ada1">
        <h3>Greedy Technique</h3>
        <a href="/9.pdf" id="greedy" download>DOWNLOAD</a>
        </div>

        <div class="ada1">
        <h3>Limitations of Algorithm Power</h3>
        <a href="/11.pdf" id="power" download>DOWNLOAD</a>
        </div>

        <div class="ada1">
        <h3>Copying with the Limitations of Algorithm Power</h3>
        <a href="/12.pdf" id="power2" download>DOWNLOAD</a>
        </div>
    </div>
</body>
</html>