<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/login.css">
</head>
<body>
    <% if (messages.error) { %>
        <%= messages.error %>
      <% } %>
    <div class="container">
        <form action="/login" method="POST">
            <h1>Sign In</h1>
            <input type="text" placeholder="Username" id="name" name="name" required>
            <input type="text" placeholder="Password" id="password" name="password" required>
            <button class="btn">Log In</button>
            <p>Don't have an account <a href="/register">Sign Up</a></p>
        </form>
    </div>
</body>
</html>